.homepage {
    margin-top: 20em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.searchbar-container,
.ticker-container {
  
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.searchbar-container {
    width: 70%;
}

.ticker-container {
    margin-top: 2.5em;
    position: relative;
    bottom: 0em;
    width: 60%;
    padding: 1.5em;
}