.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ticker {
  height: 15em;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  color: var(--snow);
  background-color: var(--xtra_lowOp_black);
  margin: 0.5em;
  border-radius: 15px;
}

.feather-icon {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10;
}

.feather-icon img {
  width: 24px;
  height: 24px;
}

.eo-label {
  position: absolute;
  top: 1em;
  right: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 10; /* to make sure it's above the slide!!!! */
}

.slide {
  width: 80%;
  height: 90%;
  top: 1em;
  left: 2em;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.slide.active-anim {
  opacity: 1;
}

p {
  padding-right: 15px;
}

.btn-slider-container {
  margin-bottom: 0.25em;
}

.btn-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  border: 1px solid black;
  border-radius: 60%;
  cursor: pointer;
  transition: transform 0.2 ease;
  position: absolute;
  right: 1em;
  z-index: 5;
  background-color: var(--lowOp_white);
}

.btn-slide img {
  width: 1.5em;
  height: 1.5em;
}

.btn-slide:hover {
  border-color: var(--teal);
}

.btn-slide:active {
  color: white;
  background-color: var(--teal);
  border-color: var(--teal);
  transform: scale(0.95);   
}

.btn-slide:focus {
  border-color: var(--teal);
  box-shadow: 0 0 0 2px rgba(2, 131, 139, 0.3);
  outline: none;
}

.btn-slide.next {
  bottom: 4.5em;
}

.btn-slide.prev {
  bottom: 1em;
}

/* Responsive Display ---------------*/
/* Small Display size */
@media (max-width: 500px) {
  .slide {
    font-size: small;
  }

  .feather-icon {
    top: 0.3em;
  }

  .eo-label {
    top: 0.3em;
    right: 0em;
  }
  .btn-slide {
    width: 2em;
    height: 2.5em;
    right: 0em;
  }

  .btn-slide img {
    width: 1em;
    height: 1em;
  }
}