* {
  --snow: #f6f2f3ff;
  --pale-dogwood: #c7aba2ff;
  --garnet: #663931ff;
  --teal: #02838bff;
  --black: #010a0bff;
}

#root {
  width: 100%;
  max-width: none; 
  margin: 0 auto;
  padding: 0; 
  box-sizing: border-box;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
/* 
.card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */

body {
  background-color: #37312A;
  margin: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #37312A;
  min-height: 100vh; 
  justify-content: center; 
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  flex-grow: 1; 
  width: 100%;
  padding: 20px;
}

.searchbar-container,
.ticker-container {
  width: 80%;
  border: solid #00C9AF;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.pop-up-login {
  background-color: var(--snow);
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  color: #37312A;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 40px;
}

.username-input {
  height: 2em;
  border-radius: 15px;
}

.pop-up {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--snow);
  color: #00C9AF;
  text-align: justify;
  padding: 10px;
  position: fixed;
  margin-bottom: 30em;
  right: 0em;
  /* width: 50% */
}

.signin-button {
  border-radius: 15px;
}

