.search_bar {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--snow);
  border-radius: 8px;
}

.search_bar input {
  width: 100%;
  height: 2em;
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--black);
}

.search_bar input:focus, button:focus {
  outline: none !important;
}

.search_bar button {
  height: 2.5em;
  background-color: var(--pale-dogwood);
  border: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.search_bar button img {
  width: 1.5em;
}
