/* src/components/EditProfile/EditProfile.css */

* {
  --snow: #f6f2f3ff;
  --pale-dogwood: #c7aba2ff;
  --garnet: #663931ff;
  --teal: #02838bff;
  --black: #010a0bff;
  --lowOp_black: rgba(1, 10, 11, 0.8);
  --xtra_lowOp_black: rgba(1, 10, 11, 0.6);
  --lowOp_white: rgba(246, 242, 243, 0.2);
  --xtra_lowOp_white: rgba(246, 242, 243, 0.05);
  --lowOp_dogwood: rgba(199, 171, 162, 0.6);
  --lowOp_teal: rgba(2, 131, 139, 0.7);
}