header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 10px 0;
  background-color: var(--lowOp_black);
}

header img {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  height: 100px;
  border-radius: 30px;
}

header img:hover {
  -webkit-box-shadow:0px 0px 205px 7px var(--lowOp_white);
  -moz-box-shadow: 0px 0px 205px 7px var(--lowOp_white);
  box-shadow: 0px 0px 205px 7px var(--lowOp_white);
  background-color: var(--xtra_lowOp_white);
}

header h1 {
  margin: auto;
  color: var(--snow)
}

.burger-img {
  height: 50px;
}

.burger-button {
 background-color:  transparent;
 cursor: pointer
}

.pop-out-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: var(--teal);
}

.open {
  background-color: var(--snow);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -5px 0 10px var(--lowOp_black);
}

