header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  padding: 10px 0;
  background-color: var(--lowOp_black);
}

header img {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  height: 100px;
  border-radius: 30px;
}

header img:hover {
  -webkit-box-shadow:0px 0px 205px 7px var(--lowOp_white);
  -moz-box-shadow: 0px 0px 205px 7px var(--lowOp_white);
  box-shadow: 0px 0px 205px 7px var(--lowOp_white);
  background-color: var(--xtra_lowOp_white);
}

header h1 {
  margin: auto;
  color: var(--snow);
}

.burger-img {
  height: 50px;
}

.burger-button {
  position: fixed;
  right: 1em;
  top: 2em;
  background-color:  transparent;
  cursor: pointer;
  z-index: 7;
}

.burger-button:hover {
  -webkit-box-shadow:0px 0px 205px 7px var(--lowOp_white);
  -moz-box-shadow: 0px 0px 205px 7px var(--lowOp_white);
  box-shadow: 0px 0px 205px 7px var(--lowOp_white);
  background-color: var(--xtra_lowOp_white);
}

.pop-out-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: var(--teal);
}

.open {
  background-color: var(--snow);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -5px 0 10px var(--lowOp_black);
}

.open:hover {
  background-color: var(--snow);
}

/* Responsive Display ---------------*/
/* Medium Display size */
@media (max-width: 800px) {
  header img {
    width: 6em;
  }

  header h1 {
    font-size: 3em;
    padding-right: 3em;
  }

  .burger-button {
    position: fixed;
    right: 0.88em;
    top: 2em;
  }

  .burger-img {
    width: 3em;
  }
}

/* Small Dispaly size */
@media (max-width: 500px) {
  header img {
    width: 5em;
  }

  header h1 {
    font-size: 2em;
  }

  .burger-img {
    width: 2.5em;
  }
}