.popup-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--snow);
  padding: 10px;
  position: fixed;
  top: 7em;
  margin-bottom: 30em;
  right: 1em;
  z-index: 6;
  box-shadow: -10px 0 5px -2px var(--lowOp_black),
              0 8px 5px -2px var(--lowOp_black);
}

.pop-up {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: larger;
  list-style: none;
  padding: none;
  box-shadow: none !important;
}

.pop-up li {
  padding: 0.4em;
}

.link:hover {
  background-color: var(--lowOp_dogwood);
}

.pop-up a {
  color: var(--garnet);
  font-weight: bold;
}  

.pop-up button {
  background-color: var(--garnet);
  color: var(--snow);
  font-weight: bold;
  margin-top: 1em;
}

.pop-up button:hover {
  outline: solid 0.1em var(--garnet);

}

.hidden {
  display: none;
}


/* Responsive Display ---------------*/
/* Medium Display size */
@media (max-width: 810px) {
  .popup-container {
    width: 12em;
    font-size: small;
    top: 8.72em;
    right: 1em;
    position: fixed;
  }

  .pop-up button {
    width: 10em;
    font-size: small;
    position: absolute;
    right: 1.5em;
    bottom: 1em;
  }


}

/* Small Dispaly size */
@media (max-width: 500px) {

  .pop-up {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
  }

  .pop-up li{
    padding: 0.3em;
  }

  .pop-up button {
    width: auto;
    margin-top: 1em;
    position: relative;
    padding: 1em;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
}