.exec-order-page {
  display: flex;
  flex-direction: column;
  background-color: var(--xtra_lowOp_black);
  padding: 2em;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8.85em;
  width: 70%;
}