/* src/components/UserProfile/UserProfile.css */

.user-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-gap: 40px;
  padding: 40px;
}

.quadrant {
  border: 2px solid var(--garnet);
  padding: 1em;
  border-radius: 10px;
  background-color: var(--pale-dogwood);
}

h2 {
  margin-top: 0;
  color: var(--snow);
}

button {
  padding: 10px 20px;
  background-color: var(--lowOp_teal);
  color: var(--snow);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--teal);
}

.card-scroll {
  overflow-y: auto;
  max-height: 15em;
  margin-right: 0.3em;
  padding-right: 0.7em;
  padding-left: 0.7em;
}

.card-scroll::-webkit-scrollbar {
  width: 0.5em;
  margin-left: 0.5em;
}

.card-scroll::-webkit-scrollbar-thumb {
  border-radius: 0.7em;
  background-color: var(--lowOp_teal);
}

.card-scroll::-webkit-scrollbar-track {
  margin-left: 0.5em;
}