.create-account-container {
  width: 60%;
  height: 25em;
  background-color: var(--snow);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  color: var(--garnet);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 40px;
  position: fixed;
  margin: 10em 48em; 
}

.create-account-container h2 {
  color: var(--garnet);
}

.create-account-container input {
  background-color: var(--snow);
  width: 13em;
  color: var(--black);

}

.create-account-container form {
  display: flex;
  flex-direction: column;
}

.form-input-parent {
  padding: 20px;
}

.form-input {
  width: 100%;
}

.form-input input {
  color: var(--black);
  background-color: var(--lowOp_dogwood);
  border-radius: 10px;
  height: 2em;
  flex: content;
}

.form-input-state {
  padding: 1em;
  flex: content;
}

.state-dropdown {
  height: 2.5em;
  border-radius: 10px;
}

.submit-button {
  background-color: var(--teal);
  border-radius: 15px;  
}

label {
  font-weight: 600;
}