.state-container {
  display: flex;
  justify-content: center;
}

.state-dropdown {
  background-color: var(--lowOp_dogwood);
  color: var(--black);
  margin-left: 1em;
  text-align: center;
  width: 10em;
}
