.about-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  background-color: var(--lowOp_black);
  width: 75%;
  margin-top: 15em;
  border-radius: 10px;
}



.about-page-info {
 padding: 1.5em;
}

.about-page-info h2 {
  font-size: xx-large;
  text-decoration: underline;
}

.about-page-info h3 {
  font-size: x-large;
}