.about-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  background-color: var(--lowOp_black);
  position: fixed;
  width: 75%;
  margin-top: 7em;
  border-radius: 10px;
}

.about-page-info {
  /* display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center; */
}